<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SalesForceBackup.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <appSettings>
    <add key="AWSAccessKey" value="" />
    <add key="AWSRegion" value="us-east-1" />
    <add key="AWSSecretKey" value="" />
    <add key="AzureAccountName" value=""/>
    <add key="AzureBlobEndpoint" value="" />
    <add key="AzureContainer" value="monthlybackups" />
    <add key="AzureFolder" value="salesforce" />
    <add key="AzureSharedKey" value =""/>
    <add key="dataExportPage" value="/ui/setup/export/DataExportPage/d?setupid=DataManagementExport&amp;retURL=%2Fui%2Fsetup%2FSetup%3Fsetupid%3DDataManagement" />
    <add key="downloadPage" value="/servlet/servlet.OrgExport?fileName=" />
    <add key="filenamePattern" value="&lt;a href=&quot;\/servlet\/servlet.OrgExport\?fileName=(.*?)&quot;.*&gt;download&lt;/a&gt;" />
    <add key="host" value="na17.salesforce.com" />
    <add key="organizationId" value="" />
    <add key="password" value="" />
    <add key="S3Bucket" value="monthlybackups" />
    <add key="S3Folder" value="salesforce" />
    <add key="scheme" value="https" />
    <add key="uploader" value="Azure" />
    <add key="username" value="" />
    <!--AWSProfileName is used to reference an account that has been registered with the SDK.
If using AWS Toolkit for Visual Studio then this value is the same value shown in the AWS Explorer.
It is also possible to register an account using the <solution-dir>/packages/AWSSDK-X.X.X.X/tools/account-management.ps1 PowerShell script
that is bundled with the nuget package under the tools folder.

		<add key="AWSProfileName" value="" />
-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <applicationSettings>
    <SalesForceBackup.Properties.Settings>
      <setting name="SalesForceBackup_SFDC_SforceService" serializeAs="String">
        <value>https://login.salesforce.com/services/Soap/c/32.0/0DFo000000004N4</value>
      </setting>
    </SalesForceBackup.Properties.Settings>
  </applicationSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>